h1{
    text-align: center;

}
#texto{
    color: white;
}
.background {
    font-family: 'Inter', sans-serif;
    background: rgb(38, 128, 194);
    padding: 20px; 
}

.card-ong, .card-2 {
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 18rem;
    margin: 5px 10%; 
    background-color:blue; 
    border: 1px solid blue; 
}

footer {
    text-align: center;
    background-color: rgb(38, 128, 194);
    color: #fff;
    padding: 20px;
}
footer p {
    margin: 5px 0;
}