nav{
    
    color: white;
    padding: 40px;
    position: relative;
}
main{
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'inter' , sans-serif;
}

.menu {
    color: #110367;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    transition: all ease-in-out;
    transition: 0.5s;
    }
    
.menu li {
        margin-left: 30px; 
    }
    
.menu li:first-child {
        margin-left: 0; 
    }

#item1:hover , #item1:focus{
    transform: scale(1.1);
    color: white;
    background-color: #3919FE;
}

#item2:hover , #item2:focus{
    transform: scale(1.1);
    color: white;
    background-color: #3919FE;
}

#item3:hover , #item3:focus{
    transform: scale(1.1);
    color: white;
    background-color: #3919FE;
}

.menu:hover{
    transform: scale(1.1);
}

img{
    position: absolute;
    top: 15px;
    left: 10px;
}

h1{
    color: #110367;
    font-family: 'Yeseva One', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    padding-right: 10px;
    margin-right: 100px;
    width: 407px;
    height: 40px;
    animation: fliptitler 2s;
}
@keyframes fliptitler {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}



#paragrafo{
    color: #110367;
    font-family: 'Inter' , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 0px;
    width: 392px;
    height: 15px;
    animation: fliptitler 2s;

}

.home{
    position: absolute;
    width: 730px;
    float: left;
    margin-top: 7%;
    margin-left: 45%;
    height: 456px;
    display: flex;
    background: url(assets/doacao.jpg), lightgray 50% / cover no-repeat ;
    box-shadow: 0px 11px 24px 0px rgba(0, 0, 0, 0.29), 0px 43px 43px 0px rgba(0, 0, 0, 0.26), 0px 97px 58px 0px rgba(0, 0, 0, 0.15), 0px 173px 69px 0px rgba(0, 0, 0, 0.04), 0px 270px 76px 0px rgba(0, 0, 0, 0.01)
    
}

h1,p{
    margin-top: 3%;
    margin-left: 10%;
    
}

.retangulo{
    margin-top: 15%;
    margin-left: 10%;
    width: 127px; 
    height: 40px; 
    background-color: #3919FE; 
    border: 2px solid #3919FE; 
    color: #FFF;
    font-family: 'inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center; 
    line-height: 40px; 
    float: left;
    box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.50);
    transition: transform 0.5s;
    border-radius: 8px;
}
.retangulo:hover{
    transform: scale(1.2);
}
.mensagem{
    padding-left: 3%;
    text-decoration: underline;
    margin-top: 15%;
    margin-left: 20%;
    color: #110367;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    float: left;
    margin-left: 10px;
}

.button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-family:'inter' , sans-serif;
    font-size: 24px;
    font-weight: 500;
    transition: transform 0.5s;
}

.button:hover{
    transform: scale(1.2);
}

.container{
    padding: 15px 5px;
    margin: 125px 40px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ; 
}
.card{
    margin: 15px;
    width: 300px;
    height: 400px;
    background-color: #110367;
    color: white;
    border-radius: 8px;
    transition:  .3s all ease;
    flex: 2;
    

    
}
.card-title{
    padding: 15px;
    margin: 15px 5px;
    cursor: pointer;
    
}


.card:hover{
    transform: scale(1.2);
    background-color: #3919FE;
    flex: 2;
}

.image{
    object-fit: cover;
    
    box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.50);
    border-radius: 8px;
    width: 250px;
    height: 200px;
    margin-left: 15px;
    margin-bottom: 50px; 
    position: initial;
}
